/*   Global styles   */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

/*   Gallery layout  */

.image {
  padding: 20px;
  margin: 20px;
  background-color: black;
  border-radius: 5px;
}

.thumbnails {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.gallery {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  display: block;
  list-style-type: none;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery li {
  margin: 30px;
}

/*   Hide span/caption element   */
.caption {
  display: none;
  text-align: center;
}

/*   Search & title styles   */
#search {
  width: 460px;
  border-radius: 5px;
  font-size: 16pt;
}

.search-input,
.title {
  text-align: center;
  margin-top: 20px;
}

.search-input {
 
}

.no-results {
  display: none;
}

/*   lightGallery Plugin user styles   */

.lg-toolbar.group {
    display: none;
}

.lg-backdrop.in {
  opacity: .5;
}

.lg-sub-html {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: black;
  border-radius: 20px;
}

.title {
  border-bottom: 2px solid black;
  width: 980px;
  margin: 0 auto;
}

/*   Media Queries   */

@media (max-width: 1024px) {
  .title,
  #search {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .title,
  #search {
    width: 460px;
  }
}

@media (max-width: 375px) {
  .title,
  #search {
    width: 200px;
  }
}